name: Pages

on:
  push:
    branches:
      - main  # 确保这里与您存放源码的分支名一致

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 代码
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # 如果您的主题是以子模块形式引入，取消下一行的注释
          # submodules: recursive

      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          # 建议将Node.js版本设置为与您本地开发环境一致的主要版本，例如20
          node-version: "20"

      - name: 缓存NPM依赖
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache

      - name: 安装依赖
        run: npm install

      - name: 构建网站
        run: npm run build  # 这通常对应 `hexo generate`

      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4